<ion-view view-title="Control">
  <ion-content>
  <ion-toggle ng-model="Button1" toggle-class="toggle-calm">Bomba de agua</ion-toggle>
  <ion-toggle ng-model="Button2" toggle-class="toggle-calm">Lampara UV</ion-toggle>
  <ion-toggle ng-model="Button3" toggle-class="toggle-calm">Nutriente</ion-toggle>
  <ion-toggle ng-model="Button4" toggle-class="toggle-calm">Aspersores</ion-toggle>
  <ion-toggle ng-model="Button5" toggle-class="toggle-calm">Calefactor</ion-toggle>
 
  </ion-content>
</ion-view>
